In [3]:
import numpy as np

import pandas as pd

print("NumPy Version:", np.__version__)
print("Pandas Version:", pd.__version__)

NumPy Version: 2.2.4
Pandas Version: 2.2.3

In [5]:
df = pd.read_csv("Cereals.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      76 non-null     object
 1   mfr       76 non-null     object
 2   type      76 non-null     object
 3   calories  76 non-null     int64
 4   protein   76 non-null     int64
 5   fat       76 non-null     int64
 6   sodium    76 non-null     int64
 7   fiber     76 non-null     float64
 8   carbo     76 non-null     object
 9   sugars    76 non-null     object
 10  potass    76 non-null     object
 11  vitamins  76 non-null     int64
 12  shelf     76 non-null     int64
 13  weight    76 non-null     float64
 14  cups      76 non-null     float64
 15  rating    76 non-null     float64
dtypes: float64(4), int64(6), object(6)
memory usage: 9.6+ KB

In [8]:
df.replace('?',np.nan,inplace = True)
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,NaN,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541

In [10]:
df["carbo"] = df["carbo"].astype(float)
df["sugars"] = df["sugars"].astype(float)
df["potass"] = df["potass"].astype(float)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      76 non-null     object
 1   mfr       76 non-null     object
 2   type      76 non-null     object
 3   calories  76 non-null     int64
 4   protein   76 non-null     int64
 5   fat       76 non-null     int64
 6   sodium    76 non-null     int64
 7   fiber     76 non-null     float64
 8   carbo     75 non-null     float64
 9   sugars    75 non-null     float64
 10  potass    74 non-null     float64
 11  vitamins  76 non-null     int64
 12  shelf     76 non-null     int64
 13  weight    76 non-null     float64
 14  cups      76 non-null     float64
 15  rating    76 non-null     float64
dtypes: float64(7), int64(6), object(3)
memory usage: 9.6+ KB

In [14]:
print(df.isna().sum())
columns_to_fill = ['carbo', 'sugars','potass']

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [15]:
df[columns_to_fill] = df[columns_to_fill].fillna(df[columns_to_fill].mean())
print(df.isna().sum())

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [18]:
#Removing outliers
# Compute Q1, Q3, and IQR for all numeric columns
df_numeric = df.select_dtypes(include=['int', 'float'])
Q1 = df_numeric.quantile(0.25)
Q3 = df_numeric.quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
# Remove outliers
df_filtered = df_numeric[~((df_numeric < lower_bound) | (df_numeric > upper_bound)).any(axis=1)]
print(df_filtered)

    calories  protein  fat  sodium  fiber  carbo  sugars      potass  \
3        110        2    2     200    1.0   14.0     8.0   96.216216
4        110        2    2     180    1.5   10.5    10.0   70.000000
5        110        2    0     125    1.0   11.0    14.0   30.000000
7         90        2    1     200    4.0   15.0     6.0  125.000000
8         90        3    0     210    5.0   13.0     5.0  190.000000
9        120        1    2     220    0.0   12.0    12.0   35.000000
11       120        1    3     210    0.0   13.0     9.0   45.000000
12       110        3    2     140    2.0   13.0     7.0  105.000000
13       110        1    1     180    0.0   12.0    13.0   55.000000
14       110        2    0     280    0.0   22.0     3.0   25.000000
15       100        2    0     290    1.0   21.0     2.0   35.000000
16       110        1    0      90    1.0   13.0    12.0   20.000000
17       110        1    1     180    0.0   12.0    13.0   65.000000
18       110        3    3     140    4.0   10.0     7.0  160.000000
20       110        2    0     220    1.0   21.0     3.0   30.000000
21       100        2    1     140    2.0   11.0    10.0  120.000000
22       100        2    0     190    1.0   18.0     5.0   80.000000
23       110        2    1     125    1.0   11.0    13.0   30.000000
24       110        1    0     200    1.0   14.0    11.0   25.000000
28       110        1    1     135    0.0   13.0    12.0   25.000000
29       100        2    0      45    0.0   11.0    15.0   40.000000
30       110        1    1     280    0.0   15.0     9.0   45.000000
31       100        3    1     140    3.0   15.0     5.0   85.000000
32       110        3    0     170    3.0   17.0     3.0   90.000000
33       120        3    3      75    3.0   13.0     4.0  100.000000
34       120        1    2     220    1.0   12.0    11.0   45.000000
35       110        3    1     250    1.5   11.5    10.0   90.000000
36       110        1    0     180    0.0   14.0    11.0   35.000000
40       100        4    2     150    2.0   12.0     6.0   95.000000
41       110        2    1     180    0.0   12.0    12.0   55.000000
46       100        2    1     220    2.0   15.0     6.0   90.000000
47       120        2    1     190    0.0   15.0     9.0   40.000000
49        90        3    0     170    3.0   18.0     2.0   90.000000
55       100        4    1     135    2.0   14.0     6.0  110.000000
58       100        3    2     140    2.5   10.5     8.0  140.000000
60       110        1    0     240    0.0   23.0     2.0   30.000000
61       110        2    0     290    0.0   22.0     3.0   35.000000
65       110        2    1      70    1.0    9.0    15.0   40.000000
67        90        2    0      15    3.0   15.0     5.0   90.000000
71       110        2    1     250    0.0   21.0     3.0   60.000000
72       110        1    1     140    0.0   13.0    12.0   25.000000
73       100        3    1     230    3.0   17.0     3.0  115.000000
74       100        3    1     200    3.0   17.0     3.0  110.000000
75       110        2    1     200    1.0   16.0     8.0   60.000000

    vitamins  shelf  weight  cups     rating
3         25      3     1.0  0.75  34.384843
4         25      1     1.0  0.75  29.509541
5         25      2     1.0  1.00  33.174094
7         25      1     1.0  0.67  49.120253
8         25      3     1.0  0.67  53.313813
9         25      2     1.0  0.75  18.042851
11        25      2     1.0  0.75  19.823573
12        25      3     1.0  0.50  40.400208
13        25      2     1.0  1.00  22.736446
14        25      1     1.0  1.00  41.445019
15        25      1     1.0  1.00  45.863324
16        25      2     1.0  1.00  35.782791
17        25      2     1.0  1.00  22.396513
18        25      3     1.0  0.50  40.448772
20        25      3     1.0  1.00  46.895644
21        25      3     1.0  0.75  36.176196
22        25      3     1.0  0.75  44.330856
23        25      2     1.0  1.00  32.207582
24        25      1     1.0  0.75  31.435973
28        25      2     1.0  0.75  28.025765
29        25      1     1.0  0.88  35.252444
30        25      2     1.0  0.75  23.804043
31        25      3     1.0  0.88  52.076897
32        25      3     1.0  0.25  53.371007
33        25      3     1.0  0.33  45.811716
34        25      2     1.0  1.00  21.871292
35        25      1     1.0  0.75  31.072217
36        25      1     1.0  1.33  28.742414
40        25      2     1.0  0.67  45.328074
41        25      2     1.0  1.00  26.734515
46        25      1     1.0  1.00  40.105965
47        25      2     1.0  0.67  29.924285
49        25      3     1.0  1.00  59.642837
55        25      3     1.0  0.50  49.511874
58        25      3     1.0  0.50  39.703400
60        25      1     1.0  1.13  41.998933
61        25      1     1.0  1.00  40.560159
65        25      2     1.0  0.75  31.230054
67        25      2     1.0  1.00  59.363993
71        25      3     1.0  0.75  39.106174
72        25      2     1.0  1.00  27.753301
73        25      1     1.0  0.67  49.787445
74        25      1     1.0  1.00  51.592193
75        25      1     1.0  0.75  36.187559

In [25]:
# Filter cereals with more than 5g of protein
high_protein_cereals = df[df["protein"] > 5]["name"]

# Filter cereals with less than 5g of sugar
low_sugar_cereals = df[df["sugars"] < 5]["name"]


print("high_protein_cereals:\n", high_protein_cereals)
print("low_sugar_cereals:", low_sugar_cereals)

high_protein_cereals:
 10    Cheerios
66    SpecialK
Name: name, dtype: object
low_sugar_cereals: 2     All-BranwithExtraFiber
10                  Cheerios
14                  CornChex
15                CornFlakes
19         CreamofWheatQuick
20                   Crispix
32                Grape-Nuts
33          GreatGrainsPecan
39                       Kix
42                     Maypo
49          Nutri-grainWheat
52                 Product19
53                PuffedRice
54               PuffedWheat
60                  RiceChex
61              RiceKrispies
62             ShreddedWheat
63        ShreddedWheatnBran
64    ShreddedWheatspoonsize
66                  SpecialK
68           TotalCornFlakes
70           TotalWholeGrain
71                   Triples
73                 WheatChex
74                  Wheaties
Name: name, dtype: object

In [29]:
#Top 10 best and worst cereals

best = df.sort_values(by = "rating",ascending = False).iloc[:10]
worst = df.sort_values(by = "rating",ascending = True).iloc[:10]
print("The best cereals are:",best["name"])
print("The worst cereals are:",worst["name"])

The best cereals are: 2     All-BranwithExtraFiber
63        ShreddedWheatnBran
64    ShreddedWheatspoonsize
62             ShreddedWheat
19         CreamofWheatQuick
54               PuffedWheat
53                PuffedRice
49          Nutri-grainWheat
1                   All-Bran
67     StrawberryFruitWheats
Name: name, dtype: object
The worst cereals are: 9              CapnCrunch
11    CinnamonToastCrunch
34         HoneyGrahamOhs
17           CountChocula
13             CocoaPuffs
30          GoldenGrahams
41            LuckyCharms
72                   Trix
28          FruityPebbles
69        TotalRaisinBran
Name: name, dtype: object

In [31]:
data = {
    'Age': [23, 25, 28, 30, 35, 40, 45, 50, 55, 60],
    'Salary': [30, 35, 40, 45, 50, 55, 60, 65, 70, 75],
    'Hours_Worked': [40, 42, 38, 45, 50, 48, 44, 46, 40, 42]
}

# Create a DataFrame
df = pd.DataFrame(data)

In [ ]:
mean = df.mean()
median = df.median()
std_dev = df.std()

# Print results
print("Mean:\n", mean)
print("\nMedian:\n", median)
print("\nStandard Deviation:\n", std_dev)